#button-box, #final-result{
    display: none;
}

.life-wheel{
    pointer-events: none;
    width: 500px;
    justify-content: center;
}


@media(max-width: 768px){
    .life-wheel{
        width: 400px;
    }
}

h1{
    font-size: 60px;

}
h4{
    font-size: 40px;

}
h2{
  font-size:  40px;
}
a{
    font-size: 20px;

}
li{
    font-size: 30px;
}
a.navbar-brand{
font-size: 30px;
text-align: center;
}
